[submodule "config_newrelic"]
	path = config_newrelic
	url = https://github.com/cru-Luis-Rodriguez/config_newrelic.git
[submodule "yum_update"]
	path = yum_update
	url = https://github.com/cru-Luis-Rodriguez/yum_update.git
[submodule "aem_config_newrelic"]
	path = aem_config_newrelic
	url = https://github.com/cru-Luis-Rodriguez/aem_config_newrelic.git
[submodule "aem_disp_config"]
	path = aem_disp_config
	url = https://github.com/cru-Luis-Rodriguez/aem_disp_config.git
[submodule "manage_tnsnames"]
	path = manage_tnsnames
	url = https://github.com/cru-Luis-Rodriguez/manage_tnsnames.git
[submodule "aem"]
        path = aem
        url = https://github.com/cru-Luis-Rodriguez/aem.git
[submodule "s3bucket_ops"]
	path = s3bucket_ops
	url = https://github.com/cru-Luis-Rodriguez/s3bucket_ops.git
[submodule "wildfly"]
	path = wildfly
	url = https://github.com/cru-Luis-Rodriguez/wildfly.git
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/cru-Luis-Rodriguez/mongodb.git
[submodule "mongodb-opsworks"]
	path = mongodb-opsworks
	url = https://github.com/cru-Luis-Rodriguez/mongodb-opsworks.git
